@import url("https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantata+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");

// FONTS

$titleFont02: "Agbalumo";

$descriptionFont01: "Libertinus Serif";
$descriptionFont02: "Playfair Display";

$accentFont01: "Cantata One";

// COLORS

$accent-color01: #fbd645;
$title-color01: #000000;
$darkBgColor: #6a425c;
$shadowColor01: #428b46;
// -----------------------

.second-color {
  background: #b7b56e;
}

.third-color {
  background: #d6d88b;
}

.fourth-color {
  background: #ddde9e #c5e9e2 #9ea2a5;
}
