@import "colors&fonts";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 7vh;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-family: $accentFont01;
}
