@import "colors&fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// .home {
//   border: 2px solid red;
// }

.home-title {
  font-size: 3rem;
}
.header-title {
  font-size: 4rem;
  font-family: $titleFont02;
  letter-spacing: 0.7rem;
  color: $title-color01;
  text-shadow: 2px 2px 2px rgb(2, 164, 62);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/Header03.png");
  background-position: center;
}

.about-author {
  font-family: $descriptionFont01;
  border: 4px solid purple;
  display: flex;
}
.about-description {
  line-height: 1.5;
  font-size: 1.4rem;
  padding: 2rem;
  border-bottom: 1px solid black;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: $darkBgColor;
  color: white;
  font-size: 1.2rem;
  font-family: $accentFont01;
}

//  @media

@media (max-width: 767px) {
  .home-title {
    font-size: 2rem;
    text-align: center;
  }

  .header {
    background-size: cover;
    background-position: center;
  }

  section {
    flex-direction: column;
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-title {
    font-size: 2.5rem;
  }

  .header {
    background-size: cover;
    background-position: center;
  }

  section {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .home-title {
    font-size: 3rem;
  }

  .header {
    background-size: cover;
  }

  section {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
  }
}
