@import "colors&fonts";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-title {
  font-size: 3rem;
  font-family: $titleFont02;
  letter-spacing: 0.7rem;
  color: $title-color01;
  text-shadow: 2px 2px 2px rgb(29, 18, 145);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/header03.png");
  background-position: center;
}
.inspiration {
  min-height: 40vh;
  // font-family: $accentFont01;
  font-family: $titleFont02;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 5rem;
}
.foto {
  height: 50%;
  width: 100%; // Take full width of the container
  max-width: 450px; // Limit so it doesn’t grow too big
  aspect-ratio: 2 / 3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.884);
  border-radius: 22px;
  border: 1px solid black;
  overflow: hidden;
  background-image: url("../assets/zdjęcie.jpg");
}
.about-author {
  min-height: 90vh;
  // font-family: $descriptionFont01;
  font-family: $descriptionFont03;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 2rem;
}
.about-description {
  width: 50%;
  line-height: 1.5;
  font-size: 1.1rem;
  padding: 3rem;
}
.buy {
  position: fixed;
  top: 87vh;
  right: 1rem;
  font-size: 1rem;
  z-index: 10;
  background-color: $title-color01; // tylko do testu, żeby zobaczyć go wyraźnie
  color: white; // kontrast
  padding: 0.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-family: $accentFont01;
  &:hover {
    background-color: #e61a1a;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  background-color: $darkBgColor;
  color: white;
  font-size: 1.2rem;
  font-family: $accentFont01;
}

//  @media

@media (max-width: 767px) {
  .home-title {
    font-size: 1rem;
    text-align: center;
  }

  .header {
    background-size: cover;
    background-position: center;
  }

  section {
    flex-direction: column;
    padding: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .home-title {
    font-size: 1.2rem;
  }

  .header {
    background-size: cover;
    background-position: center;
  }

  section {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .home-title {
    font-size: 2rem;
  }

  .header {
    background-size: cover;
  }

  section {
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
  }
}
