@import "colors&fonts";

.nav-top {
  background-color: #fff;
  width: 100vw;
  position: fixed;
  height: 9vh;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  z-index: 888;
}

.link-nav {
  padding: 0.5rem;
  font-family: $titleFont02;
  font-size: 2rem;
  color: $title-color01;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  &:hover {
    text-shadow: 2px 2px 4px rgb(235, 0, 0);
  }
}
