@import "colors&fonts";

.news {
  min-height: 100vh;
  max-width: 70vw;
  margin: 10px auto;
  height: auto;
  font-family: $titleFont02;
  display: flex;
  flex-direction: column;
}
.event {
  display: flex;
  border-bottom: 2px solid black;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 4px;
}
.event-foto {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.event-foto {
  background-image: url("../assets/cn8iN7Qt.jpg");
}

.event-description {
  max-width: 50%;
  font-size: 1rem;
  padding: 3rem;
  font-family: $descriptionFont03;
}

// event 02 new book
.new-book-cover {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.new-book-cover {
  background-image: url("../assets/new-book.png");
  border-radius: 12px;
}
.event-new-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid black;
  border-radius: 4px;
  padding: 3rem;
  margin-top: 2vh;
  h1 {
    padding: 2rem;
  }
  p {
    padding: 3rem;
    font-size: 1rem;
    font-family: $descriptionFont03;
  }
}
