@import "colors&fonts";

.plot {
  position: relative;
  background-image: url("../assets/bg09.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-size: 1.1rem;
  font-family: $accentFont01;
  z-index: 0;

  h1 {
    font-size: 1.2rem;
    padding: 1rem;
  }
  p {
    padding: 1rem;
  }
}
