@import "colors&fonts";

.quotes-bg {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/bg07.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
